<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=colorObj.name%></title>
  </head>
  <body>
    <h2><%=colorObj.name%></h2>
    <p><%=colorObj.info%></p>
    <div>
      <h4>Key Concepts <span>/</span></h4>
      <h5><%=colorObj.key%></h5>
    </div>
  </body>
</html>
