<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
    <%-include('partials/head')%>
    <link rel="stylesheet" href="css/info.css" />
  </head>
  <body>
    <!-- Nav -->
    <%-include('partials/navbar')%>

    <div class="container-fluid">
      <div id="path">
        <a href="/">Home</a> >
        <a class="active-page">More About Color Psychology</a>
      </div>
      <h2>Color Psychology</h2>
      <p>
        Color psychology is the study of hues as a determinant of human
        behavior. Color influences perceptions that are not obvious, such as the
        taste of food. Colors have qualities that can cause certain emotions in
        people. How color influences individuals may differ depending on age,
        gender, and culture.
      </p>
      <p>
        Color psychology is also widely used in marketing and branding.
        Marketers see color as important, as color can influence a consumers'
        emotions and perceptions about goods and services. Logos for companies
        are important since the logos can attract more customers.
      </p>
      <a href="/" class="home">Home</a>
    </div>
  </body>
</html>
