body {
  font-family: "Montserrat", sans-serif;
}

section {
  height: 100vh;
  color: white;
}

h1 {
  font-weight: bolder;
  font-size: 4rem;
}
#main,
#white,
#yellow,
#blue {
  color: black;
}

.nav-color {
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

/* Main */
#main {
  overflow: hidden;
}

#main img {
  max-width: 90%;
  max-height: 90%;
}

#main button {
  border: 3px solid black;
  background-color: white;
  padding: 0.5em;
}

/* Color Pages */
.color-section {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color-section h2 {
  font-size: 3rem;
  font-weight: bolder;
}

.learn-more {
  border: 3px solid black;
  background-color: black;
  color: white;
  padding: 0.5em;
}

.home {
  border: 3px solid white;
  background-color: white;
  color: black;
  padding: 0.5em;
}
